body {
  background-color: #e8edf3;
  color: #212529; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Raleway Black", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  text-transform: uppercase; }

header.navbar .navbar-brand {
  font-family: "Raleway Black", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  margin-bottom: 0; }

header.navbar .social-links li {
  padding: .3rem; }
  header.navbar .social-links li a {
    color: #000;
    line-height: 0; }
    header.navbar .social-links li a.icomoon-spotify {
      font-size: 1.15rem; }

hr {
  color: #8E99A6; }

html {
  font-size: 16px;
  background-color: #e8edf3; }

img.greyscale {
  filter: grayscale(1) contrast(120%);
  -webkit-filter: grayscale(1) contrast(120%);
  position: relative;
  display: block; }

p {
  word-spacing: .4rem; }

.page-content {
  padding-top: 3rem; }
