.post {
  padding-bottom: 6.25rem; }
  .post .post-header .title-bar {
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5rem 0; }
    .post .post-header .title-bar .title {
      margin-bottom: 0; }
    .post .post-header .title-bar .time {
      color: #8E99A6; }
  .post .post-content {
    padding-top: 1.5rem; }
    .post .post-content .post-meta .cover {
      position: relative; }
      .post .post-content .post-meta .cover::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 150, 255, 0.05); }
      .post .post-content .post-meta .cover img {
        width: 100%; }
    .post .post-content .post-meta.small .cover {
      width: 40%;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0;
      float: left; }
    .post .post-content .post-meta .rating {
      display: flex;
      margin: 0 0 1rem;
      width: 100%;
      padding-bottom: 2rem;
      font-weight: 900;
      font-family: "Raleway Black", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      text-transform: uppercase;
      font-size: .8em;
      overflow: hidden; }
      .post .post-content .post-meta .rating .end {
        line-height: 1rem; }
        .post .post-content .post-meta .rating .end.no {
          padding-right: .5em; }
        .post .post-content .post-meta .rating .end.wow {
          padding-left: .5em; }
      .post .post-content .post-meta .rating .bar {
        width: 100%;
        height: 1em;
        background-color: #8E99A6; }
        .post .post-content .post-meta .rating .bar .fill {
          height: 100%;
          background-color: #212529;
          position: relative; }
          .post .post-content .post-meta .rating .bar .fill .value {
            position: absolute;
            display: block;
            right: 0;
            bottom: -2rem;
            width: 50%;
            text-align: center;
            margin-right: -25%; }
          .post .post-content .post-meta .rating .bar .fill:after {
            content: "";
            display: block;
            height: 1rem;
            width: 2px;
            background-color: #212529;
            position: absolute;
            right: 0;
            bottom: -.6rem; }
    .post .post-content p:last-child {
      margin-bottom: 0; }
    .post .post-content blockquote {
      padding: 1em 2em 1.5rem;
      border-radius: 3px;
      position: relative;
      font-style: italic; }
      .post .post-content blockquote p {
        display: inline;
        font-weight: 600; }
        .post .post-content blockquote p cite {
          position: absolute;
          bottom: 0;
          right: 20%; }
      .post .post-content blockquote::before, .post .post-content blockquote::after {
        content: '"'; }
